.logo-section{
    position: relative;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    width: 350px;
    height: 220px;
    padding-top: 10px;
    //margin-top: 20px;
    -webkit-box-shadow: 0px 6px 88px -16px rgba(43,31,35,1);
    -moz-box-shadow: 0px 6px 88px -16px rgba(43,31,35,1);
    box-shadow: 0px 6px 88px -16px rgba(43,31,35,1);
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
    line-height: 26px;
    transition: width 0.5s, height 0.5s;


        @media (min-width: 780px){
            align-self: flex-start;
            width: 250px;
            //margin: 20px;
            left: 20px;
            font-size: 20px;
            line-height: 18px;
            //margin-top: 30px;

        }

        @media (min-width: 900px){
            //margin-top: 30px;
        }

        @media (min-width: 1150px){
            width: 300px;
            height: 230px;
            font-size: 24px;
            line-height: 22px;
        }  

                p{
                    margin-top: 10px;
                        
                        span{font-weight: bold;}
                    }

                img{
                    width: 120px;
                    height: 120px;
                    position: relative;
                    margin: auto;
                    
                    @media (min-width: 780px){
                        width: 80px;
                        height: 80px;
                    }

                    @media (min-width: 1150px){width: 110px;height: 110px;} 
                }

}

.title{
    color: @2nd-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    margin-bottom: 0px;
    z-index: 1;
    font-family: 'Lora', serif;
    display: none;
    


        @media (min-width: 780px){
        position: relative;
        text-align: left;
        left: 40px;
        font-size: 32px;
        line-height: 0.9;
        display: inline-block;

        }

        @media (min-width: 1150px){font-size: 40px;}

                span{
                    color: @2nd-color;
                    opacity: 0.8;
                    font-weight: normal;
                    font-size: 20px;

                    @media (min-width: 1150px){font-size: 30px;}
                }
}

.moved-contact{
     color: @2nd-color;
     opacity: 0.7;
     position: relative;
     flex-direction: column;
     display: flex;
     align-self: center;
     justify-content: space-between;
     margin: 0px;
        z-index: 1;


        @media (min-width: 480px){flex-direction: row; margin-top: 30px;
}

          @media (min-width: 780px){align-self: flex-start; left: 40px; margin-top: 20px;}

                p{font-style: italic;
                margin: 0px; 
                margin-top: 10px;
                text-align: center;
                }

                p:first-child{
                    margin-right: 20px;
                }
}

 .title-sub{
        color: @2nd-color;
        justify-content: center;
        text-align: center;
        margin: 0px;
        padding: 0px 10px 0px 0px;
        display: flex;
        position: relative;
        z-index: 2;

         @media (min-width: 780px){
            position: relative;
            left: 20px;
            background: none;
            text-align: left;
            bottom: 2px;        
        }

         @media (min-width: 1150px){
             bottom: 0px;
         }

                p{
                    margin: 10px;
                    width: 200px;
                    flex-grow: 2;
                    align-self: center;
                    margin-bottom: 0px;
                    font-size: 12px;

                    @media (min-width: 780px){padding: 10px; width: 100%; font-size: 16px;}
                }

}

    
.ofstedtwo{
        display: inline-block;
        position: relative;
        bottom: 14px;
        right: 0px;
        width: 70px;
        height: 60px;
        overflow: hidden;
        border-top-right-radius: 20px;
        z-index: 1;
        margin-left: 5px;
        display: none;

            @media (min-width: 780px){
                display: inline-block;
                right: 30px;
                width: 100px;
                height: 75px;
                bottom: 19px;

            }

            @media (min-width: 1150px){
                width: 120px;
                height: 90px;
                right: 50px;
                bottom: 10px;
            }

                img{
                    width: 70px;
                    height: 65px;

                    @media (min-width: 780px){
                        width: 90px;
                        height: 80px;
                    }

                    @media (min-width: 1150px){
                        width: 110px;
                        height: 100px;

                    }
                }

}