
.header-image{
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 400px;
    z-index: -0;
    overflow: hidden;


        @media (min-width: 1150px){height: 500px;}
}

.header-image img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1300px;
    height: 400px;
    z-index: 2;
    overflow: hidden;



        @media (min-width: 1150px){width: 1500px; height: 500px;}
}

.header-image img.active {z-index: 3;}




.header{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    transition: height 0.5s;

        @media (min-width: 1150px){height: 500px;}

     .nav-gradient{
        position: absolute;
        height: 150px;
        top: 0px;
        left: 0px;
        right: 0px;
        background: linear-gradient(rgba(43,31,35,1), rgba(255,0,0,0));
        opacity: 0.8;
        z-index: 0;
    }   

        .nav-gradient2nd{
        position: absolute;
        height: 100px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: linear-gradient( rgba(255,0,0,0), rgba(43,31,35,1));
        opacity: 0.8;
        z-index: 0;

         @media (min-width: 780px){height: 200px;}
}
    } 





