* {
    box-sizing: border-box;
    
}

body{
    background-color: @4th-color;
    background-image: url("../images/woodfloorBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}