
//===color-pallette==

@1st-color: #EF8354;
@2nd-color: #FFFFFF;
@3rd-color: #BFC0C0;
@4th-color: #4F5D75;
@5th-color: #2D3142;

/*
@1st-color: #FFB997;
@2nd-color: #F67E7D;
@3rd-color: #843B62;
@4th-color: #0B032D;
@5th-color: #74546A;
*/
//====================


@switch: 900px;

@tablet: 1024px;