
//===color-pallette==

@1st-color: #F15025;
@2nd-color: #FFFFFF;
@3rd-color: #E6E8E6;
@4th-color: #CED0CE;
@5th-color: #080708;

/*
@1st-color: #FFB997;
@2nd-color: #F67E7D;
@3rd-color: #843B62;
@4th-color: #0B032D;
@5th-color: #74546A;
*/
//====================


@switch: 900px;

@tablet: 1024px;