.whyMont-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background:rgba(43,31,35,0.5);
    transition: background 0.5s;

        @media (min-width: 480px){background:rgba(43,31,35,0.3)}

        @media (min-width: 900px){background:rgba(43,31,35,0)}

}

.whyMont-subHeadings{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    padding: 30px 0px 60px 0px;

    h3{
        text-align: center;
        color: @2nd-color;
        font-family: 'Lora', serif;
    }

    p{
        color: @3rd-color;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 26px;
        word-spacing: 3px;
    }
}


