.whyMont-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background:rgba(43,31,35,0.5);
    transition: background 0.5s;

        @media (min-width: 480px){background:rgba(43,31,35,0.3)}

        @media (min-width: 900px){background:rgba(43,31,35,0)}

}