
.whyMont-header{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: inset 1px 29px 164px -44px rgba(43,31,35,1);
    -moz-box-shadow: inset 1px 29px 164px -44px rgba(43,31,35,1);
    box-shadow: inset 1px 29px 164px -44px rgba(43,31,35,1);
    align-content: center;


    .nav{
            align-self: flex-end;


    }

}

.wM-extra{
        font-size: 30px;
        width: 100%;

        @media(min-width:600px){
            font-size: 46px;
        }
}

.wM-header{
    padding: 40px 0px 60px 0px;
        z-index: 2;
}